body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.container {
  height: 400px;
  margin: 20px 40px 0;
  overflow-y: scroll;
  border: 1px #d0d0d0 solid;
  border-radius: 4px;
}

.list {
  position: relative;
}

.item {
  position: absolute;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px #efefef solid;
  box-sizing: border-box;
}

.item:last-child {
  border-bottom: none;
}

.dashboard {
  margin-top: 20px;
}
